.container-flex{
    display: flex;
    flex-direction: column;
}
.profile-pic{
    width: 43%;
    height: 52px;
}
.filter{
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.filter-menu{
    visibility: hidden; 
    position: fixed
}
.paginator{
    margin-top: 3%;
}